# VS code 
.vscode/

# PyCharm
.idea/

#OS files
*.swp
*.DS_Store

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
venv/

# Environment variables
.env

# Database files
*.db
*.sqlite3

# Migrations folder
migrations/

# Logs
bookhub.log

# Secrets
secret_key.txt

# Pytest
.pytest_cache/
.coverage
htmlcov/